// main-sponsors-section
.main-sponsors-items{
  text-align: center;
}

.main-sponsors-items-container{
  padding: 40px 0px;
}

.main-sponsot-item{
  border: 2px solid transparent;
  border-radius:10px;
  text-align: center;
  padding: 5px 0px;
  opacity: 0.8;
  color: black;
  background-color: white;

  img{
    width  :200px;
    height :100px;
    margin : 0px auto;
  }
}
// main-sponsors-section
