<section class="footer-content">
  <div class="footer-contact">

    <div class="contact-info">
      <h3>CONTÁCTANOS</h3>
      <article>
        <p>Sede principalAv. de las Américas #50-15Centro Comercial Carrera(601) 420 2600Bogotá D.C. Colombia</p>
      </article>
    </div>

    <div class="social-media">
      <h3>REDES SOCIALES</h3>
      <div class="social-media-items">
        <ul>
          <li><a href="https://www.facebook.com/taxislibrescol"> <i class="fa-brands fa-facebook"></i> </a></li>

          <li><a href="https://twitter.com/TaxisLibresCol"> <i class="fa-brands fa-twitter"></i> </a></li>

          <li><a href="https://www.instagram.com/taxislibres/"> <i class="fa-brands fa-instagram"></i> </a></li>

          <li><a href="https://www.youtube.com/user/TaxisLibresCol"> <i class="fa-brands fa-youtube"></i> </a></li>

          <li><a href="https://www.tiktok.com/@taxislibres"> <i class="fa-brands fa-tiktok"></i> </a></li>
        </ul>
      </div>
    </div>

    <div class="footer-copy">
      <span>TAXIS LIBRES 2023 ©</span>
    </div>

  </div>
</section>
