<header>
  <app-header></app-header>
</header>

<main>
  <section class="main--description-section">
    <div class="maxwidth-content">
      <div class="main-description-content">

        <div class="main-description-title">

          <div class="main-description-text">
            <h1>HACKATHON 2023</h1>
            <span>del 15 al 18 de julio</span>
          </div>

          <div class="main-description-message">
            <article>
              <p>Ven y sumate a la Hackathon, el evento que apoya tu creatividad y talento</p>
            </article>
          </div>

        </div>

        <div class="main-description-image">
          <picture>
            <img src="../../../../assets/img/hackathon.png" alt="Poster Hackathon">
          </picture>
        </div>

      </div>
    </div>
  </section>

  <section class="main-about-section">
    <div class="maxwidth-content">

      <div class="main-about-content">

        <div class="main-about-description-item">

          <div class="main-about-description-image">
            <picture>
              <img src="../../../../assets/img/ayudar.jpg" alt="Ayudando a los demás">
            </picture>
          </div>

          <div class="main-about-description-text">
            <h2>LO HACEMOS POR TU BENEFICIO</h2>
            <article>
              <p>En Taxis Libres nos importa tu bienestar y trabajamos día a día por mejorar nuestro servicio. Para ello la Hackathon es el evento virtual ideal, para que nos acompañes, nos permitas conocerte y compartir ideas a través de la solución de una serie de retos reales, basados en la movilidad del país. Anímate a formar parte del cambio y creemos una movilidad segura, responsable, con igualdad y llena de oportunidades. </p>
            </article>
          </div>

        </div>

        <div class="main-about-description-item">

          <div class="main-about-description-image">
            <picture>
              <img src="../../../../assets/img/ayuda-virtual.jpg" alt="Ayuda virtual">
            </picture>
          </div>

          <div class="main-about-description-text">
            <h2>¿QUÉ ES LA HACKATHON DE TAXIS LIBRES?</h2>
            <article>
              <p>Es una maratón de creación totalmente virtulal, al que puede acceder cualquier persona a nivel mundial, donde pueden participar ingenieros, programadores, analistas de datos y muchos más perfiles en donde el objetivo principal es completar una serie de retos de movilidad en taxi en menos de tres días. </p>
            </article>
          </div>

        </div>

      </div>

    </div>
  </section>

  <section class="main-awards-section">

    <div class="maxwidth-content">

      <div class="main-objective-description">
        <h2>OBJETIVOS DE LA HACKATHON DE TAXIS LIBRES</h2>

        <div class="main-objective-description-items">

          <article>
            <p>Buscamos apoyar y contribuir al bienestar de los colombianos, fomentar la inclusión a través de un espacio virtual en donde busquemos soluciones y mejoras a los medios de transporte, a través de los siguientes puntos.</p>
          </article>

          <ol>
            <li>Movilidad segura y confiable</li>
            <li>Movilidad ágil y sustentable</li>
            <li>Alternativas ecológicas y amigables</li>
            <li>Mejoramiento de los canales de la movilidad</li>
          </ol>
        </div>

      </div>

      <div class="main-awards-content">

        <div class="main-awards-title">
          <h2>PREMIOS</h2>
        </div>

        <div class="main-awards-items">
          <div class="main-award-item">
            <div class="main-award-item-image">
              <h3>PRIMER LUGAR</h3>
              <picture>
                <img src="../../../../assets/img/primer-lugar.png" alt="Medalla primer puesto">
              </picture>
            </div>

            <div class="main-award-item-awards">
              <ul>
                <li> <i class="fa-solid fa-dollar-sign"></i> <span> 5.000.000 COP</span></li>
                <li> <i class="fa-solid fa-mobile"></i> <span> Teléfono Movil</span></li>
                <li> <i class="fa-solid fa-taxi"></i> <span> 100 viajes en Taxis Libres</span></li>
                <li> <i class="fa-solid fa-plane-up"></i> <span> Viaje a San Andrés</span></li>
              </ul>
            </div>
          </div>

          <div class="main-award-item">
            <div class="main-award-item-image">
              <h3>SEGUNDO LUGAR</h3>
              <picture>
                <img src="../../../../assets/img/segundo-lugar.png" alt="Medalla segundo puesto">
              </picture>
            </div>

            <div class="main-award-item-awards">
              <ul>
                <li> <i class="fa-solid fa-dollar-sign"></i> <span> 2.000.000 COP</span></li>
                <li> <i class="fa-solid fa-mobile"></i> <span> Teléfono Movil</span></li>
                <li> <i class="fa-solid fa-taxi"></i> <span> 50 viajes en Taxis Libres</span></li>
                <li> <i class="fa-solid fa-plane-up"></i> <span> Viaje a Cartagena</span></li>
              </ul>
            </div>
          </div>

          <div class="main-award-item">
            <div class="main-award-item-image">
              <h3>TERCER LUGAR</h3>
              <picture>
                <img src="../../../../assets/img/tercer-lugar.png" alt="Medalla primer puesto">
              </picture>
            </div>

            <div class="main-award-item-awards">
              <ul>
                <li> <i class="fa-solid fa-dollar-sign"></i> <span> 1.000.000 COP</span></li>
                <li> <i class="fa-solid fa-mobile"></i> <span> Teléfono Movil</span></li>
                <li> <i class="fa-solid fa-taxi"></i> <span> 10 viajes en Taxis Libres</span></li>
                <li> <i class="fa-solid fa-plane-up"></i> <span> Viaje a Medellín</span></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="main-inscription-section">
    <div class="maxwidth-content">

      <div class="main-inscription-content">

        <div class="main-inscription-title">
          <h2>FORMULARIO DE INSCRIPCIÓN</h2>
        </div>

        <div class="main-inscription-items">

          <div class="main-inscription-text">
            <article>
              <p>Anímate a inscribirte en el evento virtual más grande y ayudanos a construir, fortalecer, mantener la movilidad segura y sana para el beneficio de todos los colombianos. Compartenos tus ideas, mejoras y cuentanos las experiencias que has tenido con los medios de transporte actuales.</p>
            </article>
          </div>

          <div class="main-inscription-form">
            <form  action="" autocomplete="off">
              <div class="main-inscription-form-item">
                <label for="name">Nombre</label>
                <input type="text" id="name" maxlength="30" placeholder="Nombre completo...">
              </div>
              <div class="main-inscription-form-item">
                <label for="email">Correo</label>
                <input type="email" id="email" maxlength="30" placeholder="Correo...">
              </div>
              <div class="main-inscription-form-item">
                <label for="profile">Perfíl Ocupacional</label>
                <input type="text" id="profile" maxlength="30" placeholder="Perfil ocupacional...">
              </div>
              <div class="main-inscription-form-item">
                <label for="city">Ciudad</label>
                <input type="text" id="city" maxlength="30" placeholder="Ciudad...">
              </div>
              <div class="main-inscription-form-item">
                <label for="country">País</label>
                <input type="text" id="country" maxlength="30" placeholder="País...">
              </div>

              <div class="main-inscription-form-button"><button>INSCRIBIRSE</button></div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="main-sponsors-section">
    
  </section>

</main>

<footer>
  <app-footer></app-footer>
</footer>
